body{
  opacity: 80%;
}
.App{
  background-color: black;
}
.article{
  justify-content: center;
  align-items: center;
  margin-top: -120px;
  margin-left: -100px;
  padding: 200px;
  padding-left:270px;
  transition-duration: 0.8s;
  z-index: 99;
}
.dog-img{
  width: 80%;
}
.menu{
  position: absolute;
  margin-top: 540px;
  margin-left:-190px;
  padding: 10px;
  z-index:10;
  transition-duration: 1s;
}
.link{
  margin-left: 10px;
  transition-duration: 1.2s;
  transition-timing-function: ease-in;
}
.user{
  margin-left: 30px;
  transition-duration: 1.4s;
  transition-timing-function: ease-in;
}
.envelope{
  margin-left: 60px;
  transition-duration: 1.6s;
  transition-timing-function: ease-in;
}
.circle{
  border-radius: 120px;
  background-color:red;
  position: absolute;
  margin-left: -90px;
  height: 200px;
  width: 200px;
  z-index:999;
}
.marge{
  margin-left: -120px;
}
.fa{
  color:white;
  cursor:pointer;
  font-size: 30px;
  padding: 20px;
}
.icon{
  position: relative;
  margin-top: 120px;
  margin-left: 110px;
  transition-duration: 0.8s;
}
.fmarge{
  margin-top: 80px;
  margin-left:120px;
}
.active{
  position: relative;
  margin-top: -100px;
  margin-left: 35px;
  transition-duration: 0.8s;
}
.tmarge{
  margin-left: 80px;
  margin-top: -20px;
}
a{
  color: white;
  text-decoration-line: none;
}
.rotating-body{
  background-color: #fff;
  transition-duration: 0.8s;
}
.rotation{
  transform: rotate(-20deg);
  transform-origin: 0% 0%;
  transition-duration: 0.8s;
}

